/* TODO: Example 01 (Activity 2) CSS goes here */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, ::before, ::after {
    box-sizing: inherit;
}

header {
    font-size: 2rem;
    color: white;
    padding: 0 1rem;
    height: 100px;
    line-height: 100px;
    background-color: darkslateblue;
}

footer {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main-container {
    display: table;
    height: calc(100vh -160px);
    width: 100vw;
}

body {
    margin: 0;
}

#aside-col {
    display: none;
}

#main-col {
    display: table-cell;
    background-color: #eff0f2;
}

#main-container .box {
    height: 100px;
    line-height: 100px;
    background-color: slateblue;
    text-align: center;
    color: white;
    margin: 1rem 1rem 0 1rem;
}

/*Tablet*/
@media all and (min-width: 600px) {
    #main-col .box {
        float: left;
        margin: 1rem 0 0 1rem;
        width: calc((100% - 3rem)/2);
    }
}

@media all and (min-width: 800px) {
    #main-col {
        width: 70%;
    }

    #main-container .box {
        float: left;
        margin: 1rem 0 0 1rem;
        width: calc((100% - 5rem)/3);
    }

    #aside-col {
        display: table-cell;
        background-color: #fffaea;
    }

    #aside-col .box {
        width: calc((100% - 3rem)/2);
        vertical-align: top;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    #main-container [selected] {
        color: #251A6B;
        background-color: #998DE6;
    }

    #main-container [featured] {
        border: 5px solid slateblue;
        background-color: black;
    }

    /*Styling Links*/
    ul.links {
        list-style: none;
        padding: 1rem;
    }

    ul.links li {
        color: black;
        padding: .5rem;
        background-color: lightsteelblue;
        margin-bottom: .3rem;
        text-align: center;
    }

    ul.links > li > a {
        color: inherit;
        text-decoration: none;
    }

    ul.links > li > a:link {
        color: blue;
    }

    ul.links > li > a:visited {
        color: #653c48;
    }

    ul.links > li > a:active {
        border-bottom: 3px solid #6f2a45;
    }

    ul.links > li > a:hover {
        color: #fffaea;
    }
}