html {
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto 1rem;
  text-align: center;
  background-color: #eff0f2;
}

.box {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
}

.row1 {
  display: flex;
  flex: 1 1 50px;
  background-color: aqua;
  margin-bottom: .5rem;
}

.row2 {
  display: flex;
  flex-flow: column nowrap;
}

.row2 > .box {
  flex: 1 1 20px;
  background-color: black;
  margin-bottom: .5rem;
}

.row3 {
  display: flex;
  flex-flow: column nowrap;
}

.row3 > .col1 {
  flex: 1 1 200px;
  background-color: aqua;
  margin-bottom: .5rem;
}

.row3 > .col2col3 {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 200px;
  gap: 10px;
}

.row3 > .col2col3 > .col2 {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 50px; 
}

.row3 > .col2col3 > .col2 > .col2left, .row3 > .col2col3 > .col2 > .col2right {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  gap: .5rem;
  margin-bottom: .5rem;
}

.row3 > .col2col3 > .col2 > .col2left > .box, .row3 > .col2col3 > .col2 > .col2right > .box {
  background-color: black;
}

.row3 > .col2col3 > .col3 {
  display: flex;
  flex: 1 1 50px;
  background-color: aqua;
  margin-bottom: .5rem;
}

.row4 {
  flex: 1 1 50px;
  background-color: aqua;
}

/*Media Queries*/

@media all and (min-width: 501px) and (max-width: 800px) {
  .row2 {
    flex-flow: row nowrap;
    flex: 1 1 30px;
    gap: 10px;
    margin-bottom: .5rem;
  }

  .row3 > .col1 {
    flex: 1 1 400px;
  }

  .row3 > .col2col3 > .col2 {
    flex-flow: row nowrap;
    gap: 10px;
  }
}

@media all and (min-width: 801px) {
  .row2 {
    flex-flow: row nowrap;
    flex: 1 1 20px;
    gap: 10px;
    margin-top: .2rem;
    margin-bottom: .5rem;
  }

  .row3 {
    flex-flow: row nowrap;
    flex: 1 1 300px;
    gap: 10px;
  }

  .row3 > .col2col3 {
    flex-flow: column-reverse nowrap;
  }

  .row3 > .col2col3 > .col2 {
    flex-flow: row nowrap;
    flex: 1 1 20px;
    gap: 10px;
  }
}
